header {
  padding: 0 20px 10px 20px;
  border-bottom: 1px solid #d3d6da;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}
.menu-bar__title {
  font-size: 40px;
  font-weight: bold;
}
.menu-bar-img {
  width: 40px;
  height: 40px;
}
.menu-bar__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-bar__icons img {
  width: 40px;
  height: 40px;
}

.sub-btn {
  background-color: white;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
}
